<% provide(:title, @user.name) %>
<div class='row'>
  <div class='single-user-tile'>
    <section class='user-info'>
	    <%= gravatar_for @user %>
	    <p class='user-name'><%= @user.name %></p>
      <p class='user-email'><%= @user.email %>

      <% if current_user.admin? && !current_user?(@user) %>
        <div class='admin-buttons'>
          <%= link_to "delete user", @user, method: :delete, class: 'btn btn-danger',
             data: { confirm: "Are you sure you want to completely delete this user?" } %>
          <%= link_to "make admin", @user, method: :edit_user, class: 'btn btn-warning',
             data: { confirm: "Are you sure you want add admin privileges to this account?" } %>
        </div>
      <% end %>
	</section>
  </div>
</div>
